<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818979899743-4h2hsqf86o0ffcm38ptn0ifrng81l0j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818979899743-4h2hsqf86o0ffcm38ptn0ifrng81l0j8</string>
	<key>API_KEY</key>
	<string>AIzaSyBh7zNqJayXzSUqQZ6cpjzW9GfFW5LHF_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>818979899743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseTest.list</string>
	<key>PROJECT_ID</key>
	<string>fir-test-92869</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-92869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818979899743:ios:f62aed761bb68fbf8dceea</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-92869.firebaseio.com</string>
</dict>
</plist>